extends ../layout

block content
  .page-wrapper#ticket-view

    .container#ticket-view-wrapper
      h3 Viewing Ticket #{ticket.title}
      if (assignSuccess.length > 0)
        .alert.alert-success
          span= assignSuccess
      .row.ticket-view-row
        .col.ticket-view-label-col
          span Current Status:
        .col.ticket-view-col
          if (ticket.status_id == 1)
            span To Do
          if (ticket.status_id == 2)
            span In Progress
          if (ticket.status_id == 3)
            span Testing
          if (ticket.status_id == 4)
            span Done
      .row.ticket-view-row
        .col.ticket-view-label-col
          p Story points estimate: 
        .col.ticket-view-col
          span= ticket.estimate
      .row.ticket-view-row
        .col.ticket-view-label-col
          p Assignee: 
        .col.ticket-view-col
          .dropdown
            if (ticket.status_id != 4)
              if assignee
                button#dropdownAssigneeButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') #{assignee.name} #{assignee.surname}
              else
                button#dropdownAssigneeButton.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Assign user to this ticket...

              .dropdown-menu(aria-labelledby='dropdownAssigneeButton')
                  form(action="assign_user", method='post')
                    input(style="display:none;", name='ticketId', value='#{ticket.id}')
                    input(style="display:none;", name='assignee', value='#{owner.id}')
                    button.dropdown-item(type='submit', label='#{owner.id}') #{owner.name} #{owner.surname}

                  each invitedUser in invitedUsers
                    form(action="assign_user", method='post')
                      input(style="display:none;", name='ticketId', value='#{ticket.id}')
                      input(style="display:none;", name='assignee', value='#{invitedUser.id}')
                      button.dropdown-item(type='submit', label='#{invitedUser.id}') #{invitedUser.name} #{invitedUser.surname}
            else
              span #{assignee.name} #{assignee.surname}
      .row.ticket-view-row
        .col.ticket-view-label-col
          span Description: 
        .col.ticket-view-col
          span= ticket.description
      .row.ticket-view-row
        .col.ticket-view-label-col
          span Created at:
        .col.ticket-view-col
          span= ticket.created_at
      .return-to-previous
        a(href="../boards/#{ticket.board_id}") Return to board view

    script.
      $('#create-board-div').on('click', function(e){
          $('#create-board-div').hide();
          $('#create-board-form').css('display', 'inline-block');
          $('#create-board-form').show();
      });
      $('#board-create-cancel').on('click', function(e){
          $('#create-board-form').hide();
          $('#create-board-div').show();
      });
