doctype html
html
  head
    title= 'Login'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')

block content
  body.login
    .login-background
    .container#login-panel
      .row
        .col-md-6.col-md-offset-3
          .panel.panel-default
            .panel-heading
              img.logo(src='/images/sunderland_logo.png')
              h4.strong#login-heading University of Sunderland Scrum Tool
            .panel-heading#login-info
              span Welcome to the University of Sunderland Scrum Tool, please login below or sign up as a new user.
            .panel-body#login-body
              if (success_msg)
                .alert.alert-success
                  p= success_msg
              if (errors)
                each error in errors
                  .div.alert.alert-danger
                    p= error
              form.form-horizontal(role='form', action='/login', method='post')
                .form-group
                  label.col-sm-3.control-label(for='inputEmail3')
                    | Email
                  .col-sm-9
                    input#inputEmail3.form-control(name='email', type='email', placeholder='Email', required='')
                .form-group
                  label.col-sm-3.control-label(for='inputPassword3')
                    | Password
                  .col-sm-9
                    input#inputPassword3.form-control(name='password', type='password', placeholder='Password', required='')
                .form-group.last
                  .col-sm-offset-3.col-sm-9
                    button.btn.btn-success.btn-sm.login-btn(type='submit')
                      | Sign in
            .panel-footer#login-body
              | Not Registered? 
              a(href='/sign_up') Register here
