doctype html
html
  head
    title= 'Sign up'
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/style.css', rel='stylesheet')

block content
  .body.login
    .login-background
    .container
      .row
        .col-md-5.col-md-offset-4
          .panel.panel-default
            .panel-heading
              strong Create an account

            .panel-body
              if errors
                each error in errors
                  .div.alert.alert-danger
                    p= error
              form.sign-up-form(action="sign_up", method="post")
                .form-group
                  label.col-sm-3.sign-up-label.control-label(for='name') First Name
                  input.sign-up-input(type="text", name="name")
                .form-group
                  label.col-sm-3.sign-up-label.control-label(for='surname') Surname
                  input.sign-up-input(type="text", name="surname")
                .form-group
                  label.col-sm-3.sign-up-label.control-label(for='email') Email
                  input.sign-up-input(type="text", name="email")
                .form-group
                  label.col-sm-3.sign-up-label.control-label(for='password') Password
                  input.sign-up-input(type="password", name="password")
                .form-group
                  label.col-sm-3.sign-up-label.control-label(for='confirmPassword') Verify Password
                  input.sign-up-input(type="password", name="confirmPassword")
                div#login-body
                  a(href='/login')
                    button.btn.btn-default.btn-sm.login-btn(type='button') Cancel
                  button.btn.btn-success.btn-sm.login-btn(type='submit') Sign up
