body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.page-wrapper {
  padding: 60px 25px 25px 25px;
}

.form-signin {
  max-width: 300px;
  margin: 0 auto;
}

.btn-lg {
  margin-top: 8px;
}

.login-background{
  background: url('/images/login_back.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
}

.logo {
  width: 130px;
  float: right;
}

.strong {
  font-weight: bold;
}

.alert-success {
  text-align: left;
}

.alert-danger {
  text-align: left;
}

#login-heading {
  height: 40px;
  width: 75%;
}

#login-body {
  padding-right: 50px;
  text-align: right;
}

#login-info {
  background-color: #FFFFFF;
}

.login-btn {
  font-size: 15px;
  margin-left: 5px;
}

.panel-default {
  opacity: 0.9;
  margin-top:30px;
}
.form-group.last {
  margin-bottom:0px;
}

.sign-up-label {
 width: 145px;
}

.sign-up-input {
  width: 255px;
}

.sign-up-form {
  text-align: center;
}

.board-item {
  background-color: #D3D3D3;
  color: #000000;
  width: 300px;
  height: 120px;
  padding: 50px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

#create-board-div {
}

#board-div {
}

.board-item:hover {
  background-color: #808080;
}

#create-board-form {
  display: none;
  width: 300px;
  background-color: #D3D3D3;
  color: #000000;
  padding: 5px;
  margin: 10px 0px 0px 10px;
}

#new-board-title {
  width: 50%;
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
  font-weight: bold;
}

#board-title {
  margin: 0 auto;
  font-weight: bold;
  padding-bottom: 10px;
}

#board-title-label {
  margin-right: 10px;
}

#create-board {
  margin: 0 auto;
  padding: 10px;
}

#create-board-button {
  padding: 10px;
}

#board-create-cancel {
  padding: 10px;
  margin-right: 10px;
  background-color: white;
}

#board-details-sidebar {
  width: 20%;
  background-color: grey;
}

.board-sidebar {
  height: 100%;
  width: 20%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #DCDCDC;
  overflow-x:hidden;
  padding-top: 50px;
  border-right: 2px;
  border-style: solid;
  text-align: center;
}

#board-view-main {
  margin-left: 20%;
}

#user-input {
  height: 30px;
}

#user-email-input {
  height: 28px;
  margin-right: 5px;
}

#add-user-button {
  height: 30px;
}

#board-errors {
  text-align: center;
}

.user-list {
  list-style-type: none;
  padding-left: 0px;
}

#board-view-main {
}

#tickets-title {
  float: left;
}

.title-row {
  height: 75px;
  padding: 0 5px 5px 5px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-style: solid;
  border-color: #DCDCDC;
  margin-bottom: 10px;
}

.closed-title-row {
  height: 75px;
  padding: 10px 5px 5px 5px;
  border-bottom: 2px;
  border-right: 0px;
  border-left: 0px;
  border-top: 2px;
  border-style: solid;
  border-color: #DCDCDC;
  margin-bottom: 10px;
  margin-top: 10px;
}

#new-ticket-btn {
  float: right;
  height: 35px;
}

#sprint-btn {
  height: 35px;
  margin: 0 auto;
}

#new-sprint-btn-wrapper {
  text-align: center;
  margin-bottom: 10px;
}

.create-sprint-wrapper {
  margin-bottom: 15px;
}

#popup-form-wrapper {
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 2;
  opacity: 0.9;
}

#popup-form {
  width: 400px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 10%;
  text-align: center;
}

.ticket-input {
  width: 70%;
  height: 30px;
}

textarea.ticket-input{
  resize: none;
  height: 100px;
}

.ticket-label {
  width: 25%;
  float: left;
  text-align: right;
  margin-right: 15px;
}

.ticket-create-row {
  margin-bottom: 5px;
}

#create-ticket-btn {
  height: 40px;
  margin-right: 5px;
  margin-left: 55%;
  margin-top: 5px;
}

#cancel-popup {
  height: 40px;
  margin-top: 5px;
}

.hidden-input {
  display: none;
}

.grid-wrapper {
  background-color: #D3D3D3;
  padding: 5px;
}

.sprint-grid-wrapper {
  background-color: #D3D3D3;
  width: 25%;
  padding: 5px;
  display: inline-block;
  vertical-align: top;
  border: 0 2px 0 0 ;
  border-style: solid;
}

.grid-col {
  padding-left: 0;
}

.backlog-row {
  background-color: white;
  width: 100%;
}

#backlog-help {
  position: absolute;
  margin-top: 20px;
}

.backlog-title-row {
  height: 35px;
  width: 100%;
}

#backlog-title {
  width: 15%;
  position: absolute;
}

#backlog-estimate {
  width: 15%;
  margin-left: 15%;
  position: absolute;
}

#backlog-assignee {
  width: 15%;
  margin-left: 30%;
  position: absolute;
}

#backlog-estimate.backlog-row {
  text-align: center;
}

#description {
  width: 55%;
  margin-left: 45%;
  position: absolute;
}

#grid-item-row {
  overflow: hidden;
}

.ticket-links {
  color: black;
}

#board-nav {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 1.0rem;
  font-style: bold;
}

.create-sprint-form {
  margin: 10px;
}

.create-sprint {
  margin-right: 5px;
}

.create-sprint#number {
  width: 50px;
}

.create-sprint#title {
  font-weight: bold;
}

.grid-stack.sprint {
  min-height: 590px;
}

.sprint-user-list {
  margin-top: 25px;
}

#ticket-view-wrapper {
  width: 75%;
  text-align: center;
  background-color: white;
  border: 3px;
  border-style: solid;
  padding: 10px;
}

.ticket-view-row {
  margin-bottom: 15px;
  width: 75%;
}

.ticket-view-label-col {
  text-align: right;
}

.ticket-view-col {
  text-align: left;
}

.return-to-previous {
  text-align: left;
}

.page-wrapper#ticket-view{
  width:100%;
  height: 100%;
  background-color: #f3f3f3;
  position: absolute;
}

.create-sprint-row {
  margin-bottom: 5px;
}

.grid-stack {
  min-height: 50px;
}

.create-sprint-btn {
  padding: 10px;
  margin: 5px 0px 25px 15px;
}

.create-sprint-label {
  width: 95px;
  text-align: right;
}
