extends ../layout

block content
  div.page-wrapper
    h3 Boards
    p Hi, #{user.name}, this is your boards page where you can see all projects you are invited to and even create your own.

    each board in boards
      a(href="/boards/#{board.id}")
        div#board-div.board-item
          span= board.name

    div#create-board-div.board-item
      span Create a new board

    form#create-board-form(name='createBoard', action='boards/new', method='post')
      div#new-board-title Create a new board
      .container
        .row
          #board-title
            label#board-title-label(for='name') Board title:  
            input(type='text', placeholder='Enter name of your board', name='name')
        .row
          .col
            span You will be able to invite other users to collaborate
                 | once you have created your board!
        .row
          #create-board
            button#board-create-cancel.btn.btn-default.btn-sm(type='reset') Cancel
            button#create-board-button.btn.btn-success.btn-sm(type='submit') Create

    script.
      $('#create-board-div').on('click', function(e){
          $('#create-board-div').hide();
          $('#create-board-form').css('display', 'inline-block');
          $('#create-board-form').show();
      });
      $('#board-create-cancel').on('click', function(e){
          $('#create-board-form').hide();
          $('#create-board-div').show();
      });
