extends ../layout

block content

  div#popup-form-wrapper
    div#popup-form
      form#create-ticket-form(name='createTicket', action="/tickets/new", method='post')
        if (errors)
          each error in errors
            .div#board-errors
              .div.alert.alert-danger
                p= error
        h3 Create a new ticket
        .row.ticket-create-row
          label.ticket-label(for='name') Name
          input.ticket-input(type='text', name='name')
        .row.ticket-create-row
          label.ticket-label(for='description') Description
          textarea.ticket-input(type='text', name='description')
        .row.ticket-create-row
          label.ticket-label(for='story_points') Story Points
          input.ticket-input(type='number', name='story_points')
        input.hidden-input(type='text', name='board_id', value="#{board.id}")
        .div.ticket-button-row
          button#create-ticket-btn.btn.btn-success.btn-sm(type='submit') Create
          button#cancel-popup.btn.btn-default.btn-sm(onClick='') Cancel

  div.page-wrapper

    .div.board-sidebar
      h3 Board Menu
      h4= board.name

      p Users with acces to this board:
      ul.user-list
        li.user-list #{owner.name} #{owner.surname} (Owner)

        each invitedUser in invitedUsers
          li.user-list #{invitedUser.name} #{invitedUser.surname}

      form#invite-user-form(name='adduser', action="/boards/#{board.id}/adduser", method='post')
        p Add another user to this board via their email:
        if (errors)
          each error in errors
            .div#board-errors
              .div.alert.alert-danger
                p= error
        #user-input
          input#user-email-input(type='text', placeholder='eg. email@example.com', name='email')
          button#add-user-button.btn.btn-success.btn-sm(type='submit') Add

      .menu-row#board-nav
        h3 Active Sprint:
        if (activeSprint)
          a(href= '/sprints/' + activeSprint.id)
            p= activeSprint.title
        else
          .row#new-sprint-btn-wrapper
            button#sprint-btn.btn.btn-success.btn-sm(onClick='new_sprint()') Start a Sprint

        h3 Previous Sprints:
        if (previousSprints)
          each sprint in previousSprints
            a(href= '/sprints/' + sprint.id)
              p= sprint.title
        else
          p No previous sprints.


    .div#board-view-main

      #sprint-grid-wrapper(style='display:none;')
        .div.title-row
            h3#tickets-title Create a new sprint
            br
            p#backlog-help Construct your sprint by dragging and dropping tickets into the grey box from your backlog!

        .container.create-sprint-form
          if (sprintError)
            .alert-danger
              span= sprintError
          .row.create-sprint-row
            label.create-sprint-label Title:
            input.create-sprint#name
          .row.create-sprint-row
            label.create-sprint-label Length (days):
            input.create-sprint#number
          .row.create-sprint-row
            span Drag your tickets here:
        .grid-wrapper#sprint
          .grid-stack#sprint
        .row
          button#new-sprint-btn.btn.btn-success.btn-sm.create-sprint-btn(onClick='create_sprint()') Start
          button#new-sprint-cancel-btn.btn.btn-default.btn-sm.create-sprint-btn(onClick='cancel_new_sprint()') Cancel

      .div.title-row
          h3#tickets-title Backlog
          button#new-ticket-btn.btn.btn-success.btn-sm(onClick='popup_form()') New Ticket
          br
          p#backlog-help Drag and drop tickets to rearrange your backlog!


      .backlog-title-row
        .container.backlog-row
          .row
            .col#backlog-title
              h4 Title
            .col#backlog-estimate
              h4 Estimate
            .col#backlog-assignee
              h4 Assignee
            .col#description
              h4 Description

      .grid-wrapper#backlog
        .grid-stack#backlog

          each ticket in tickets
            .div.backlog-row.grid-stack-item(data-ticket-id="#{ticket.id}", data-gs-x="0", data-gs-y="#{ticket.position}", data-gs-width="12", data-gs-height="2")
              .div.grid-stack-item-content
                .container.backlog-row
                  .row
                    .col.grid-col#backlog-title
                      p= ticket.title
                    .col.grid-col#backlog-estimate
                      p= ticket.estimate
                    .col.grid-col#backlog-assignee
                      p= ticket.assignee
                    .col.grid-col#description
                        p= ticket.description

      .div.closed-title-row
          h3#tickets-title Closed Tickets
          br
          p#backlog-help Tickets that have been completed in previous sprints.


      .backlog-title-row
        .container.backlog-row
          .row
            .col#backlog-title
              h4 Title
            .col#backlog-estimate
              h4 Estimate
            .col#backlog-assignee
              h4 Assignee
            .col#description
              h4 Description

      .grid-wrapper#backlog-closed
        .grid-stack#backlog-closed


  script.
    function popup_form() {
      document.getElementById('popup-form-wrapper').style.display = "block";
    }
    function new_sprint() {
      document.getElementById('sprint-grid-wrapper').style.display = "inherit";
      document.getElementById('new-ticket-btn').style.display = "none";
    }
    function cancel_new_sprint() {
      document.getElementById('sprint-grid-wrapper').style.display = "none";
      document.getElementById('new-ticket-btn').style.display = "inherit";
    }

    function create_sprint() {
      var tickets = [];
      var sprintTitle = $('.create-sprint#name').val();
      var sprintLength = $('.create-sprint#number').val();
      _.each($('.grid-stack#sprint > .grid-stack-item:visible.backlog-row'), function (el) {
                        el = $(el);
                        var ticketId = el.find('.row').find('#ticket-row-data').find('p').text();
                        tickets.push(ticketId);
                    }, this);

      $.ajax({
          type: "POST",
          url: "/sprints/new",
          data: {tickets: JSON.stringify(tickets),
                  sprintTitle: sprintTitle,
                  sprintLength: sprintLength
                },
          dataType: 'json',
          success: function(data, textStatus, jqXHR) {
            window.location = data.redirect;
          },
          error: function(response) {
          }
      });
    }

    $('#cancel-popup').on('click', function(e){
        e.preventDefault();
        $('#popup-form-wrapper').hide();
    });
    $(function () {
      var backlog_options = {
        cellHeight: 20,
        verticalMargin: 10,
        disableResize: true,
        acceptWidgets: '.grid-stack-item',
        height: 100
      };

      var backlog_closed_options = {
        cellHeight: 20,
        verticalMargin: 10,
        disableResize: true,
        height: 100,
        staticGrid: true
      };

      var sprint_options = {
        cellHeight: 20,
        verticalMargin: 10,
        disableResize: true,
        acceptWidgets: '.grid-stack-item',
        height: 100
      };

      $('.grid-stack#backlog').gridstack(backlog_options);
      $('.grid-stack#backlog-closed').gridstack(backlog_closed_options);
      $('.grid-stack#sprint').gridstack(sprint_options);

      new function () {
          this.ticketsArray = !{JSON.stringify(ticketsArray)};
          this.closedTicketsArray = !{JSON.stringify(closedTicketsArray)};

          var grid = $('.grid-stack#backlog').data('gridstack');
          var closedGrid = $('.grid-stack#backlog-closed').data('gridstack');

          this.loadGrid = function () {
              grid.removeAll();
              var items = GridStackUI.Utils.sort(this.ticketsArray);
              _.each(items, function (node) {
                  grid.addWidget($('<div class="backlog-row">' +
                    '<div class="grid-stack-item-content" id="grid-item-row">' +
                    '<a class="ticket-links" href="/tickets/' + node.ticket.id + '">' +
                    '<div class="container backlog-row">' +
                    '<div class="row">' +
                    '<div class="col grid-col" id="backlog-title">' +
                    '<p>' + node.ticket.title + '</p>' +
                    '</div>' +
                    '<div class="col grid-col" id="backlog-estimate">' +
                    '<p>' + node.ticket.estimate + '</p>' +
                    '</div>' +
                    '<div class="col grid-col" id="backlog-assignee">' +
                    '<p>' + node.ticket.assignee + '</p>' +
                    '</div>' +
                    '<div class="col grid-col" id="description">' +
                    '<p>' + node.ticket.description + '</p>' +
                    '</div>' +
                    '<div style="display:none;width:0%;" class="col grid-col" id="ticket-row-data">' +
                    '<p>' + JSON.stringify(node.ticket.id) + '</p>' +
                    '</div>' +
                    '</div> </div> </a> </div>'),
                      0, node.ticket.position, 12, 2);
              }, this);

              var closedItems = GridStackUI.Utils.sort(this.closedTicketsArray);
              _.each(closedItems, function (node) {
                  closedGrid.addWidget($('<div class="backlog-row">' +
                    '<div class="grid-stack-item-content" id="grid-item-row">' +
                    '<a class="ticket-links" href="/tickets/' + node.ticket.id + '">' +
                    '<div class="container backlog-row">' +
                    '<div class="row">' +
                    '<div class="col grid-col" id="backlog-title">' +
                    '<p>' + node.ticket.title + '</p>' +
                    '</div>' +
                    '<div class="col grid-col" id="backlog-estimate">' +
                    '<p>' + node.ticket.estimate + '</p>' +
                    '</div>' +
                    '<div class="col grid-col" id="backlog-assignee">' +
                    '<p>' + node.ticket.assignee + '</p>' +
                    '</div>' +
                    '<div class="col grid-col" id="description">' +
                    '<p>' + node.ticket.description + '</p>' +
                    '</div>' +
                    '<div style="display:none;width:0%;" class="col grid-col" id="ticket-row-data">' +
                    '<p>' + JSON.stringify(node.ticket.id) + '</p>' +
                    '</div>' +
                    '</div> </div> </a> </div>'),
                      0, node.ticket.position, 12, 2);
              }, this);
              closedGrid.disable();
              return false;
          }.bind(this);

          this.saveGrid = function () {
              this.serializedData = _.map($('.grid-stack > .grid-stack-item:visible'), function (el) {
                  el = $(el);
                  var node = el.data('_gridstack_node');
                  return {
                      x: node.x,
                      y: node.y,
                      width: node.width,
                      height: node.height
                  };
              }, this);
              $('#saved-data').val(JSON.stringify(this.serializedData, null, '    '));
              return false;
          }.bind(this);

          this.clearGrid = function () {
              this.grid.removeAll();
              return false;
          }.bind(this);

          this.loadGrid();

          $('.grid-stack#backlog').on('change', function(event, items) {
            var ticketChanges = [];
            _.each($('.grid-stack#backlog > .grid-stack-item:visible'), function (el) {
                              el = $(el);
                              var ticketData = el.find('.row').find('#ticket-row-data').find('p').text();
                              var node = el.data('_gridstack_node');
                              var newTicketPos = node.y;
                              ticketChanges.push({'newTicketPos': newTicketPos, 'ticketId': ticketData});
                          }, this);
            $.ajax({
                type: "POST",
                url: "/tickets/rearrange",
                data: {ticketChanges: JSON.stringify(ticketChanges)},
                dataType: 'json',
                success: function(response) {
                },
                error: function(response) {
                }
            });
          });
      };
    })
