extends ../layout

block content

  div.page-wrapper

    .div.board-sidebar
      .menu-row#board-nav
        a(href= '/boards/' + board.id)
          span Return to Board View

      h3 Sprint Details

      strong Title: 
      span= sprint.title
      br
      strong Start Date: 
      span= sprint.start_date
      br
      strong End Date: 
      span= sprint.end_date
      br
      strong Total Story Points: 
      span= sprint.story_points
      br
      strong Remaining Story Points: 
      if remainingStoryPoints
        span= remainingStoryPoints
      else
        span 0

      .sprint-user-list
        p Users participating in this sprint:
        ul.user-list
          li.user-list #{owner.name} #{owner.surname} (Owner)

          each invitedUser in invitedUsers
            li.user-list #{invitedUser.name} #{invitedUser.surname}


    .div#board-view-main

      if (active)
        .backlog-title-row
          .container.backlog-row
            .row
              .col
                h4 To Do
              .col
                h4 In Progress
              .col
                h4 Testing
              .col
                h4 Done

        .sprint-grid-wrapper
          .grid-stack.sprint#to-do
        .sprint-grid-wrapper
          .grid-stack.sprint#in-progress
        .sprint-grid-wrapper
          .grid-stack.sprint#testing
        .sprint-grid-wrapper
          .grid-stack.sprint#done

      else
        span The sprint you are viewing as now finished,
        p The goal for this sprint was #{sprint.story_points} and you managed to complete #{sprint.story_points - remainingStoryPoints} of them!
        p Return to the boards page to start a new sprint.



  script.
    function popup_form() {
      document.getElementById('popup-form-wrapper').style.display = "block";
    }
    function new_sprint() {
      document.getElementById('sprint-grid-wrapper').style.display = "inherit";
    }
    function cancel_new_sprint() {
      document.getElementById('sprint-grid-wrapper').style.display = "none";
    }

    function create_sprint() {
      var tickets = [];
      var sprintTitle = $('.create-sprint#name').val();
      var sprintLength = $('.create-sprint#number').val();
      _.each($('.grid-stack#sprint > .grid-stack-item:visible.backlog-row'), function (el) {
                        el = $(el);
                        var ticketId = el.find('.row').find('#ticket-row-data').find('p').text();
                        tickets.push(ticketId);
                    }, this);

      $.ajax({
          type: "POST",
          url: "/sprints/new",
          data: {tickets: JSON.stringify(tickets),
                  sprintTitle: sprintTitle,
                  sprintLength: sprintLength
                },
          dataType: 'json',
          success: function(response) {
          },
          error: function(response) {
          }
      });
    }

    $('#cancel-popup').on('click', function(e){
        e.preventDefault();
        $('#popup-form-wrapper').hide();
    });
    $(function () {
      var backlog_options = {
        cellHeight: 20,
        verticalMargin: 10,
        disableResize: true,
        acceptWidgets: '.grid-stack-item',
        width: 12,
        height: 100
      };

      var sprint_col_options = {
        cellHeight: 20,
        verticalMargin: 10,
        disableResize: true,
        acceptWidgets: '.grid-stack-item',
        width: 12,
        height: 100
      };

      $('.grid-stack#to-do').gridstack(sprint_col_options);
      $('.grid-stack#in-progress').gridstack(sprint_col_options);
      $('.grid-stack#testing').gridstack(sprint_col_options);
      $('.grid-stack#done').gridstack(sprint_col_options);

      new function () {
          this.ticketsArrayToDo = !{JSON.stringify(ticketsArrayToDo)};
          this.ticketsArrayInProgress = !{JSON.stringify(ticketsArrayInProgress)};
          this.ticketsArrayTesting = !{JSON.stringify(ticketsArrayTesting)};
          this.ticketsArrayDone = !{JSON.stringify(ticketsArrayDone)};

          var toDoGrid = $('.grid-stack#to-do').data('gridstack');
          var inProgressGrid = $('.grid-stack#in-progress').data('gridstack');
          var testingGrid = $('.grid-stack#testing').data('gridstack');
          var doneGrid = $('.grid-stack#done').data('gridstack');

          this.loadGrid = function () {
              toDoGrid.removeAll();
              var itemsToDo = GridStackUI.Utils.sort(this.ticketsArrayToDo);
              _.each(itemsToDo, function (node) {
                  toDoGrid.addWidget($('<div class="backlog-row">' +
                    '<div class="grid-stack-item-content" id="grid-item-row">' +
                    '<a class="ticket-links" href="/tickets/' + node.ticket.id + '">' +
                    '<div class="container backlog-row">' +
                    '<div class="row">' +
                    '<strong> Ticket: </strong>' +
                    '<p> ' + node.ticket.title + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Estimate: </strong>' +
                    '<p> ' + node.ticket.estimate + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Assignee: </strong>' +
                    '<p>' + node.ticket.assignee + '</p>' +
                    '</div>' +
                    '<div style="display:none;width:0%;" class="col grid-col" id="ticket-row-data">' +
                    '<p>' + JSON.stringify(node.ticket.id ) + '</p>' +
                    '</div>' +
                    '</div> </div> </a> </div>'),
                      0, node.ticket.position, 12, 4);
              }, this);

              var itemsInProgress = GridStackUI.Utils.sort(this.ticketsArrayInProgress);
              _.each(itemsInProgress, function (node) {
                  inProgressGrid.addWidget($('<div class="backlog-row">' +
                    '<div class="grid-stack-item-content" id="grid-item-row">' +
                    '<a class="ticket-links" href="/tickets/' + node.ticket.id + '">' +
                    '<div class="container backlog-row">' +
                    '<div class="row">' +
                    '<strong> Ticket: </strong>' +
                    '<p> ' + node.ticket.title + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Estimate: </strong>' +
                    '<p> ' + node.ticket.estimate + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Assignee: </strong>' +
                    '<p>' + node.ticket.assignee + '</p>' +
                    '</div>' +
                    '<div style="display:none;width:0%;" class="col grid-col" id="ticket-row-data">' +
                    '<p>' + JSON.stringify(node.ticket.id) + '</p>' +
                    '</div>' +
                    '</div> </div> </a> </div>'),
                      0, node.ticket.position, 12, 4);
              }, this);

              var itemsTesting = GridStackUI.Utils.sort(this.ticketsArrayTesting);
              _.each(itemsTesting, function (node) {
                  testingGrid.addWidget($('<div class="backlog-row">' +
                    '<div class="grid-stack-item-content" id="grid-item-row">' +
                    '<a class="ticket-links" href="/tickets/' + node.ticket.id + '">' +
                    '<div class="container backlog-row">' +
                    '<div class="row">' +
                    '<strong> Ticket: </strong>' +
                    '<p> ' + node.ticket.title + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Estimate: </strong>' +
                    '<p> ' + node.ticket.estimate + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Assignee: </strong>' +
                    '<p>' + node.ticket.assignee + '</p>' +
                    '</div>' +
                    '<div style="display:none;width:0%;" class="col grid-col" id="ticket-row-data">' +
                    '<p>' + JSON.stringify(node.ticket.id) + '</p>' +
                    '</div>' +
                    '</div> </div> </a> </div>'),
                      0, node.ticket.position, 12, 4);
              }, this);

              var itemsDone = GridStackUI.Utils.sort(this.ticketsArrayDone);
              _.each(itemsDone, function (node) {
                  doneGrid.addWidget($('<div class="backlog-row">' +
                    '<div class="grid-stack-item-content" id="grid-item-row">' +
                    '<a class="ticket-links" href="/tickets/' + node.ticket.id + '">' +
                    '<div class="container backlog-row">' +
                    '<div class="row">' +
                    '<strong> Ticket: </strong>' +
                    '<p> ' + node.ticket.title + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Estimate: </strong>' +
                    '<p> ' + node.ticket.estimate + '</p>' +
                    '</div>' +
                    '<div class="row">' +
                    '<strong> Assignee: </strong>' +
                    '<p>' + node.ticket.assignee + '</p>' +
                    '</div>' +
                    '<div style="display:none;width:0%;" class="col grid-col" id="ticket-row-data">' +
                    '<p>' + JSON.stringify(node.ticket.id) + '</p>' +
                    '</div>' +
                    '</div> </div> </a> </div>'),
                      0, node.ticket.position, 12, 4);
              }, this);
          }.bind(this);

          this.saveGrid = function () {
              this.serializedData = _.map($('.grid-stack > .grid-stack-item:visible'), function (el) {
                  el = $(el);
                  var node = el.data('_gridstack_node');
                  return {
                      x: node.x,
                      y: node.y,
                      width: node.width,
                      height: node.height
                  };
              }, this);
              $('#saved-data').val(JSON.stringify(this.serializedData, null, '    '));
              return false;
          }.bind(this);

          this.clearGrid = function () {
              this.grid.removeAll();
              return false;
          }.bind(this);

          this.loadGrid();

          $('.grid-stack#to-do').on('change', function(event, items) {
            var ticketChanges = [];
            _.each($('.grid-stack#to-do > .grid-stack-item:visible'), function (el) {
                              el = $(el);
                              var ticketData = el.find('#ticket-row-data').find('p').text();
                              var node = el.data('_gridstack_node');
                              ticketChanges.push({'ticketStatus':1, 'ticketId': ticketData});
                          }, this);
            $.ajax({
                type: "POST",
                url: "/tickets/updateStatus",
                data: {ticketChanges: JSON.stringify(ticketChanges)},
                dataType: 'json',
                success: function(data, textStatus, jqXHR) {
                  if (data.refresh) {
                    window.location.reload();
                  }
                },
                error: function(response) {
                }
            });
          });

          $('.grid-stack#in-progress').on('change', function(event, items) {
            var ticketChanges = [];
            _.each($('.grid-stack#in-progress > .grid-stack-item:visible'), function (el) {
                              el = $(el);
                              var ticketData = el.find('#ticket-row-data').find('p').text();
                              var node = el.data('_gridstack_node');
                              ticketChanges.push({'ticketStatus':2, 'ticketId': ticketData});
                          }, this);
            $.ajax({
                type: "POST",
                url: "/tickets/updateStatus",
                data: {ticketChanges: JSON.stringify(ticketChanges)},
                dataType: 'json',
                success: function(response) {
                },
                error: function(response) {
                }
            });
          });

          $('.grid-stack#testing').on('change', function(event, items) {
            var ticketChanges = [];
            _.each($('.grid-stack#testing > .grid-stack-item:visible'), function (el) {
                              el = $(el);
                              var ticketData = el.find('#ticket-row-data').find('p').text();
                              var node = el.data('_gridstack_node');
                              ticketChanges.push({'ticketStatus':3, 'ticketId': ticketData});
                          }, this);
            $.ajax({
                type: "POST",
                url: "/tickets/updateStatus",
                data: {ticketChanges: JSON.stringify(ticketChanges)},
                dataType: 'json',
                success: function(response) {
                },
                error: function(response) {
                }
            });
          });

          $('.grid-stack#done').on('change', function(event, items) {
            var ticketChanges = [];
            _.each($('.grid-stack#done> .grid-stack-item:visible'), function (el) {
                              el = $(el);
                              var ticketData = el.find('#ticket-row-data').find('p').text();
                              var node = el.data('_gridstack_node');
                              ticketChanges.push({'ticketStatus':4, 'ticketId': ticketData});
                          }, this);
            $.ajax({
                type: "POST",
                url: "/tickets/updateStatus",
                data: {ticketChanges: JSON.stringify(ticketChanges)},
                dataType: 'json',
                success: function(data, textStatus, jqXHR) {
                  if (data.refresh) {
                    window.location.reload();
                  } else {
                  }
                },
                error: function(response) {
                }
            });
          });
      };
    })
